html,
body {
  padding: 0;
  margin: 0;
  font-size: 18px;
}
body{
  font-family: 'Poppins', sans-serif !important;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
